/* Provide sufficient contrast against white background */
.song {
    color: #0366d6;
    font-weight: 400; /* Жирное начертание */
}

code {
  color: #E01A76;
}

.genre {
    color: #E01A76;
    font-weight: 600; /* Жирное начертание */
}

ul {
    list-style-type: none; /* Remove bullets */
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
